<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Weycoin - Decentralized Memes</title>

  <link rel="stylesheet" href="<%= css_asset %>" type="text/css">
  <link href="<%= css_asset("bootstrap.css") %>" rel="stylesheet">

  <link href="<%= css_asset("font-awesome.css") %>" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="<%= css_asset("agency.css") %>" rel="stylesheet">

</head>
<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">WeyCoin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#weycoin">Weycoin</a>
          </li>
           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#downloads">Wallet</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#exchanges">Exchanges</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#pools">Pools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://weyblocks.com" target="_blank">Explorer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    
  <%= content %>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; WeycoinProject.org 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/weycoin" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/weycoin" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="<%= js_asset %>"></script>
  <script type="text/javascript" src="<%= js_asset("jquery.js") %>"></script>
  <script type="text/javascript" src="<%= js_asset("bootstrap.bundle.js") %>"></script>
  <script type="text/javascript" src="<%= js_asset("jquery.easing.js") %>"></script>
  <script type="text/javascript" src="<%= js_asset("agency.js") %>"></script>
</body> 
</html>